body {
   margin: 0px;
   padding: 20px;
   display: flex;
   justify-content: center;
}

.container {
    min-width: 406px;
    min-height: 95vh;
    border: 3px solid black;
    position: relative;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: brown;
}


.racket {
    width: 100px;
    height: 20px;
    background-color: blueviolet;
    bottom: 0px;
    position: absolute;
}